@font-face {
  font-family: 'Pacifico';
  src: url('./fonts/Pacifico-Regular.ttf');
  font-style:normal;
  font-weight:normal;
}

@font-face {
  font-family: 'Pattaya';
  src: url('./fonts/Pattaya-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}

.App {
  text-align: center;
}

.body{
  width:100vw;
  height:100vh;
  font-family:'Lato';
}

.active-link{
  background-color:red;
}

.navBar{
  background:aliceblue;
  height:50px;
  display:flex;
  justify-content:flex-start;
  align-items:center;
}

.navIcon{
  margin:20px 0 20px 10px;
  font-size:30px;
  align-items:center;
  display:flex;
  justify-content:flex-start;
}

.sidebarNav{
  background: rgb(194,250,237);
  background: linear-gradient(135deg, rgba(194,250,237,1) 0%, rgba(255,233,191,1) 50%, rgba(227,229,245,1) 100%);
  width: 280px;
  height:calc(100vh - 110px);
  display:flex;
  justify-content:center;
  position:fixed;
  top:60px;
  transition: 350ms;
  z-index: 10;
  left:0;
  overflow-y:scroll;
}

.sidebarNav::-webkit-scrollbar{
  width:0px;
}

.sidebarWrap{
  width:100%;
}

.sidebarLink {
  display:flex;
  justify-content:space-around;
  align-items:center;
  color: #000000;
  padding: 10px 20px;
  margin:20px 10px;
  list-style:none;
  text-decoration:none;
  font-size:18px;
  border: 1px solid #DFDFDF;
  border-radius: 5px;
  background-color:#ffffff;
  
}

.sidebarLink:hover{
  background:#FFE49D;
  cursor:pointer;
}

.sidebarLabel{
  margin-left:16px;
  font-size:20px;
  font-weight:bold;
}

.dropdown{
  background: #ffffff;
  margin: 20px 10px 20px 40px;
  padding: 10px 20px;
  display:flex;
  justify-content: space-around;
  align-items:center;
  text-decoration:none;
  color: #000000;
  border: 1px solid #DFDFDF;
  border-radius: 5px;
}

.dropdown:hover{
  background:#FFE49D;
  cursor:pointer;
}

.collapseNav{
  position:fixed;
  top:60px;
  background: rgb(194,250,237);
  background: linear-gradient(135deg, rgba(194,250,237,1) 0%, rgba(255,233,191,1) 50%, rgba(227,229,245,1) 100%);
  width:60px;
  height:calc(100vh - 110px);
  text-align:center;
  z-index:10;
}

.collapseIcon{
  padding: 20px 0;
  display:block;
}

.collapseIcon:hover{
  background: #FFE49D;
  cursor:pointer;
}

.header{
  top:0;
  width:100vw;
  height:60px;
  position:fixed;
  background: #F7FFFD;
  display:flex;
  z-index:10;
}

.footer{
  position:relative;
  bottom:-50px;
  width:100vw;
  height:50px;
  background: #686868;
  display:flex;
  justify-content:space-around;
  color:#ffffff;
  align-items: center;
  font-weight:bold;
}

.headerLogo{
  width: 280px;
  height: 100%;
  display:flex;
  align-items:center;
  justify-content:center;
}

.headerLogo:hover{
  cursor:pointer;
}

.headerContent{
  width:calc(100vw - 280px);
  display:flex;
  justify-content: space-around;
  align-items:center;
}

.headerItem{
 background-image: linear-gradient(90deg, rgba(1,211,220,1) 0%, rgba(52,120,255,1) 100%);
 text-decoration:none;
 font-weight:bold;
 background-clip:text;
 color:transparent;
}

.search{
  text-align:center;
  border: 1px solid #DBDBDB;
  border-radius:12px;
  padding: 4px 35px 4px 0px;
  width: 220px;
}

.searchIcon{
  position:relative;
  top: 10px;
  right:30px;
}

.pageContent{
  position:relative;
  top:60px;
  height:calc(100vh - 100px);
  overflow-x:hidden; 
}

.card{
  width:200px;
  margin: 20px;
  align-items:center
}

.card .card-img-top{
  border-bottom: 1px solid #DFDFDF;
}

.card img{
  width: 200px;
  height: 160px;
  padding: 10px;
}

.card:hover{
  border: 2px solid #000000;
  cursor:pointer;
}


.search-list{
  position:absolute;
  margin-left:10px;
  width: 220px;
  top:50px;
  background: linear-gradient(135deg, rgb(215, 250, 242) 0%, rgba(255,233,191,1) 100%);
  /* border:1px solid rgb(194,250,237); */
  border-radius: 10px;
  text-align:start;
  overflow-y:scroll;
  max-height:350px;
}

.search-list a{
  padding: 10px;
}
.search-list a:hover{
  cursor:pointer;
  color: orange;
  font-style:oblique;
}

.search-list a{
  text-decoration:none;
  font-size: 14px;
  color: #000000;
}

.cameraIcon{
  margin-right:10px;
  width:20px;
  height:20px;
  position:relative;
  top:5px;
}

.cameraIcon:hover{
  cursor:pointer;
  color: chocolate;
}

.page404{
  background: rgb(198,248,255);
  background: linear-gradient(135deg, rgba(198,248,255,1) 0%, rgba(255,206,206,1) 100%);
  width:100vw;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  font-family:"Pacifico";
  font-weight:bold;
  font-size:100px;
}

.card-about{
  position:relative;
  height:200px;
  width: 280px;
  display:flex;
  align-items:center;
  justify-content: center;
  transform-style:preserve-3d;
  transition: all 1s ease;
}


.card-about .front{
  position:absolute;
  width:100%;
  height:100%;
  backface-visibility: hidden;
  border-radius:10px;
  box-shadow: 0.5px 2px 2px 2px #CDCDCD;
  display:flex;
  align-items: center;
  justify-content: center;
  font-family: 'Pattaya';
  font-weight:bold;
  font-size:20px;
}

.card-about .back{
  position:absolute;
  width:100%;
  height:100%;
  background:#FFF3D3;
  backface-visibility:hidden;
  transform: rotateY(180deg);
  border-radius:10px;
  box-shadow: 0.5px 2px 2px 2px #CDCDCD;
  text-align:left;
  display:flex;
  align-items: center;
  font-style:italic;
  padding:20px;
}

.card-about:hover{
  transform: rotateY(180deg);
  cursor:pointer;
}

.card-1 .front{
  background: rgb(255,216,216);
  background: linear-gradient(135deg, rgba(255,216,216,1) 0%, rgba(255,250,206,1) 100%);
}

.card-2 .front{
  background: rgb(243,255,252);
  background: linear-gradient(45deg, rgba(243,255,252,1) 0%, rgba(255,209,209,1) 100%);
}

.card-3 .front{
  background: rgb(224,255,255);
  background: linear-gradient(135deg, rgba(224,255,255,1) 0%, rgba(250,236,236,1) 100%);
}

.card-4 .front{
  background: rgb(212,255,170);
  background: linear-gradient(45deg, rgba(212,255,170,1) 0%, rgba(240,255,225,1) 100%);
}

.card-5 .front{
  background: rgb(255,236,227);
  background: linear-gradient(180deg, rgba(255,236,227,1) 0%, rgba(255,172,136,1) 100%);
}

.card-6 .front{
  background: rgb(255,233,255);
  background: linear-gradient(180deg, rgba(255,233,255,1) 0%, rgba(244,175,229,1) 100%);
}

.modal-add-body > div{
  margin:20px;
}

.welcome-container{
  padding:0 0 20px 60px;
}

.welcome-container .welcome-title{
  background-image:linear-gradient(0deg, rgba(255,181,94,1) 0%, rgba(255,104,104,1) 100%);
  color:transparent;
  background-clip:text;
  font-family: 'Pacifico';
  font-size:60px;
  text-shadow: 2px 2px;
}

@keyframes pop{
  0%{
    transform: translateY(-10%);
  }
  50%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(-10%);
  }
}

.welcome-card{
  width: 260px;
  height: 180px;
  border: 2px solid #000000;
  border-radius:10px;
  display: flex;
  justify-content:center;
  align-items: center;
  box-shadow: 3px 3px 0px 1px #DFDFDF;
}

.welcard-1{
  background: radial-gradient(circle, #FFFFFF, #ECFFC4);
}

.welcard-2{
  background: radial-gradient(circle, #FFFFFF, #EFFFEF);
}

.welcard-3{
  background: radial-gradient(circle, #FFFFFF, #FFEAB5);
}

.welcard-4{
  background: radial-gradient(circle, #FFFFFF, #FFECEC);
}

.welcome-card:hover{
  animation-name:pop;
  animation-duration:2s;
  animation-iteration-count: infinite;
}

.chat-background{
  top:10px;
  position:relative;
  height:calc(100vh - 110px);
  overflow-x:hidden; 
  margin-left:60px;
  z-index:1;
  display:flex;
  justify-content:center;
}

.chat-input{
  position:absolute;
  bottom: 30px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.chat-input > input{
  width: 400px;
  border-radius: 20px;
  padding:10px 20px;
}

.emoji-icon{
  font-size:25px;
  position:relative;
  right:30px;
}

.emoji-icon:hover{
  cursor:pointer;
}
.send-icon{
  font-size:30px;
  margin: 0 10px;
  position:absolute;
  right:-25px;
}

.admin-send-icon{
  font-size:30px;
  position:relative;
  margin: 0 10px;
}

.admin-send-icon:hover, .send-icon:hover{
  cursor:pointer;
  color: coral;
}

.chat-input .emoji-picker{
  position:absolute;
  width:280px !important;
  height:300px !important;
  bottom:70px;
  border:3px solid grey;
}

.chat-content{
  width: 500px;
  height: calc(100vh - 200px);
  overflow-y:scroll;
  border:2px solid #000000;
  padding:20px;
  border-radius:20px;
  background: radial-gradient(circle, #FFF9FD, #FFFDD9);
  min-height: calc(100vh - 250px) !important;
}

.client-message{
  word-break: break-word;
  max-width:300px;
  margin:10px;
  padding:10px;
  background: rgb(255,243,235);
  background: linear-gradient(90deg, rgba(255,243,235,1) 0%, rgba(238,255,245,1) 100%);
  border-radius:20px;
  border: 2px solid #000000;
  text-align:left;
}

.admin-message{
  max-width:300px;
  word-break: break-word;
  margin:10px;
  padding:10px;
  background: rgb(255,219,211);
  background: linear-gradient(90deg, rgba(255,219,211,1) 0%, rgba(214,207,255,1) 100%);
  border-radius:20px;
  border:2px solid #000000;
  text-align:left;
}

.admin-view-image{
  border: 1px solid #000000;
  width: 200px;
  margin: 20px 0;
}

.chat-input .chat-exit{
  transform:rotateY(180deg);
  font-size:20px;
  margin: 0 10px;
}

.chat-input .chat-exit:hover{
  color:lightseagreen;
  cursor:pointer;
}

.chat-input-message{
  resize:none;
  outline:none;
  height: 40px;
  max-height: 100px;
  width:300px;
  padding: 10px 30px 10px 10px;
  border-radius:10px;
  border: 2px solid #000000;
}

.chat-input-message::-webkit-scrollbar{
  width:0px;
}

.deleteIcon:hover, .editIcon:hover, .uploadIcon:hover{
  cursor:pointer;
}

.service-container{
  position:relative;
  height:calc(100vh - 110px);
  overflow-x:hidden; 
  z-index:1;
  display:flex;
  justify-content:center;
  align-items:center;
  left:60px;
}

.carousel-item img{
  width:100vh;
  height:calc(100vh - 110px);
}

.carousel-item
{
  background: rgb(255,216,216);
  background: linear-gradient(135deg, rgba(255,216,216,1) 0%, rgba(255,250,206,1) 100%);
}

.heart{
  position:relative;
  bottom:5px;
  margin:0 20px;
}